# DB Configuration
DB_HOST=host_name
DB_DRIVER=mysql
DB_NAME=db_name
DB_USERNAME=username
DB_PASSWORD=password

#Server Configuration
SERVER_PORT=3000

#Base Url Configuration
BASE_URL=husky-api.festiware.com

#SMS Gateway Wavecell Configuration
SMS_SUB_ACCOUNTS=sub account from wavecell
SMS_TOKEN=token from wavecell